@using Thiccdal.Frontend.Components
@page "/"

<PageTitle>Thiccdal Control</PageTitle>
<h1>Thiccdal Control</h1>
<MudGrid>
    <MudItem xs="6">
        <ChatView />
    </MudItem>

    <MudItem xs="6">
        <RawDataView />
    </MudItem>
</MudGrid>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
